html,body,h1,h3,h5,h6 {
	font-family: "Roboto", sans-serif;
}
h1,h3,h4,h5,h6{
	font-family:"Segoe UI",Arial,sans-serif;
	font-weight:400;
	margin:10px 0
}
.logo{
	background:	#968c83;
	position: absolute;
	right: 0;
	font-size:30px;
}
h1{
	font-size:36px;
}
h2{
	font-size:30px;
}
h3{
	font-size:24px;
}
h5{
	font-size:13px;
}
h6{
	font-size:16px;
}
.w3-serif{
	font-family:serif;
}
.w3-wide{
	letter-spacing:4px;
}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
h4{
	position:relative;
	left: 30px;
	color:#FF2D2D;
	font-size:20px;
	font-weight: 900;
}
p{
	font-size:15px;
}
#username{
	font-size:15px;
}
#password{
	font-size:15px;
}
#email{
	width: 260px;
}
.login-button{
	position:relative;
	left: 45px;
}
#login{
	width: 160px;
	height: 30px;
	font-size:15px;
}
.solve{
	position:relative;
	left: 0px;
	top:-5px
}
#register{
	color:#0000C6;
	font-size:85%;
}

#forget, #first-time{
	color:#0000C6;
	font-size:85%;
}
.note{
	position:relative;
	right: 3px;
	top:-5px
}
#note{
	font-size:75%;
}
.statute{
	color:#000!important;
	font-size:120%;
}
.news{
	color:#000!important;
	font-size:120%;
}
.sure-button{
	position:relative;
	left: 45px;
}
table{
    rules: none;
    border-collapse:collapse; 
    line-height:20px;
    position:relative;
	left: 300px;
	letter-spacing:5px;
}
td{
    border:5px;
    background-color:white;
    padding:0 0 0 0;
    width:450px;
    height:20px;
}
.login-button2{
	position:relative;
	left: 580px;
	top: 35px;
}
input[name=email],[name=address]{
	width:280px;
}
#activity-time{
	position:relative;
	left: 15px;
	font-size:120%;
}
li{
	margin: 2px 0;
}